/* Flexbox layout */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
}

.csk {
    flex-grow: 1; /* Allow flex items to grow if necessary */
    flex-shrink: 1; /* Allow flex items to shrink if necessary */
    flex-basis: auto; /* Set the initial size of the flex items */
    padding: 10px 20px;
    margin: 10px;
    border: 5px solid #120101;
    background-color: #e6f607;
}
.mi {
    flex-grow: 1; 
    flex-shrink: 1; 
    flex-basis: auto; 
    padding: 10px 20px;
    margin: 10px;
    border: 5px solid gold;
    background-color: #081fef;
}
.rcb{
    flex-grow: 1; 
    flex-shrink: 1; 
    flex-basis: auto; 
    padding: 10px 20px;
    margin: 10px;
    border: 5px solid #0e0c0c;
    background-color: #f90404;
}
.kkr {
    flex-grow: 1; 
    flex-shrink: 1; 
    flex-basis: auto; 
    padding: 10px 20px;
    margin: 10px;
    border: 5px solid gold;
    background-color: purple;
}
.gt {
    flex-shrink: 1;
    flex-basis: auto; 
    padding: 10px 20px;
    margin: 10px;
    border: 5px solid rgb(5, 245, 189);
    background-color: rgb(25, 44, 103);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #333;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s, background-color 0.3s; /* Adding transition */
}

.navbar a:hover {
    color: #333; /* Changing text color on hover */
    background-color: white; /* Changing background color on hover */
}


/* Photo gallery */
.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.photo-gallery img {
    width: 150px; /* Adjust the size of the images as needed */
    height: auto;
    margin: 10px;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column; /* Adjusting flex-direction to column */
        align-items: stretch; /* Align items to stretch vertically */
    }
}
